.nav_space {
  margin-top: 133px;
}

.parallax_bg01 {
  background-image: url('~@/assets/image/parallax_01.jpeg');
  height: 70vh;
  // height: 70vh;
}
.activeBg {
  // position: relative;
  width: 100%;
  // height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.parallax{
  min-height: 500px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
