// header
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  border-bottom: 4px solid $primary;
}
.navbar-toggler.collapsed {
  @include icon-bar-collapsed;
}
.navbar-toggler {
  @include icon-bar;
  &:focus {
    box-shadow: none;
  }
}

.nav-link {
  border-bottom: 2px solid transparent;
  &:hover,&:focus {
    border-bottom: 2px solid $primary;
  }
}

.nav-cart {
  font-size: 32px;
}
